.underline{
  text-decoration: underline;
}
.about{
  font-size: 14px;
}
div{
  padding-left: 30px;
  padding-right: 30px;
}

.footer{
  font-size: 10px;
}

img{
  width: 100px;
  height: 30px
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.small{
  -moz-appearance: textfield;
  width: 20px;
}
.normal{
  width: 100px;
}
.font-size{
  font-size: 10px;
}
input {
  text-align: center;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.borderi{
  margin: 30px;
  border: 1px solid black;
}

.header{
  background-color: #AAA;
}
.tablestyle{
  text-align: auto;
  font-size: 12px;
  border: 1px solid black;
}

.floatleft{
  float:left;
  width:50%;
}

.floatright{
  float:right;
  width:50%;
}
